<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;  charset=iso-8859-1" />
	<meta name="description" content="An minimal site format" />
	<meta name="keywords" content="blog" />
 <link rel="stylesheet" type="text/css" href="static/style.css" media="all" />  
<title>ErrorBucket</title>
</head>

<body>
   <div id="container">
      <div id="header"><h1>ErrorBucket</h1></div>

      <div id="wrapper">
        <div id="navigation">
           <ul>
           </ul>
         </div>

         <div id="content-wrapper">
           <div id="content">
             <h3>Remote Error Logging</h3>
                <p>
                  Signup, create a bucket and get an API key. Then use ErrorBucket's easy API to log errors from any application.
                </p>
             </div>
        </div>

        <div id="sidebar-wrapper">
          <div id="sidebar">
            <h4>Login</h4>
            <form method="POST">
             {{ form.as_p }}
             <input type="submit" name="action" value="Login" />
             <input type="submit" name="action" value="Signup" />
            </form>
          </div> 
        </div>

        <div id="footer">Design from <a href="http://csstemplatesfree.net/2column/209-template-minimal.html">csstemplatesfree.net</a></div>

      </div> 

   </div>
</body>

</html>

